.banner-panel>div {
    width: 100%;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.case-panel .case-item img {
    width: 591px;
    height: 407px;
    cursor: pointer;
}

.case-panel .caseitem-text {
    text-align: center;
}

.case-panel .case-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    padding: 30px 0 10px;
}

.casetype {
    text-align: center;
    padding-bottom: 40px;
}

.casetype .casetype-item {
    margin-right: 20px;
    cursor: pointer;
}

.casetype .casetype-item:last-child {
    margin-right: 0px;
}

.casetype-item.case-selected {
    color: #ff0000;
}

.case-panel .case-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px 5px;
    color: #5b5b5b;
}

.case-panel .case-time {
    padding-bottom: 30px;
    color: #5b5b5b;
    font-size: 13px;
    line-height: 20px;
}

#laypage {
    text-align: center;
    margin: 50px 0 80px;
}

.detail-title-box {
    margin: 30px 0 30px;
}

.detail-title-box .detail-title {
    font-size: 25px;
    color: #000;
}

.detail-title-box .detail-time {
    font-size: 13px;
    float: right;
    color: #6e6e6e;
}

.detail-content {
    color: #6e6e6e;
}

.detail-content>p {
    line-height: 24px;
}

.detail-content>img {
    width: 100%;
    margin: 30px 0;
}

.casedetail-zhibiao {}

.casedetail-zhibiao .subitem {
    line-height: 26px;
    font-weight: 700;
}

.casedetail-zhibiao .subitem-label {
    float: left;
    color: #e60012;
}

.casedetail-zhibiao .subitem-text {
    float: left;
}

.prevnext {
    padding: 50px 0 80px;
}

.prevnews {
    float: left;
    width: 570px;
    text-align: right;
    margin-right: 30px;
}

.nextnews {
    float: left;
    width: 570px;
    text-align: left;
    margin-left: 30px;
}

.prevnext-title {
    cursor: pointer;
    padding-top: 16px;
}

.prevnext-title:hover {
    color: #ff0000;
}