/*1 重定义浏览器默认样式
	Name:			style_reset
	Level:			Global
	Explain:		重定义浏览器默认样式
*/

* {
    word-wrap: break-word
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
    margin: 0;
    padding: 0
}

ul,
ol,
dl {
    list-style-type: none
}

html,
body {
    *position: static
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input,
button {
    overflow: visible;
    vertical-align: middle;
    outline: none
}

body,
th,
td,
button,
input,
select,
textarea {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    font-size: 12px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

body {
    line-height: 1.6
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

a,
area {
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer
}

a:hover {
    text-decoration: underline;
    outline: none
}

a.ie6:hover {
    zoom: 1
}

a:focus {
    outline: none
}

a:hover,
a:active {
    outline: none
}

:focus {
    outline: none
}

sub,
sup {
    vertical-align: baseline
}

/*img*/

img {
    border: 0;
    vertical-align: middle
}

a img,
img {
    -ms-interpolation-mode: bicubic
}

.img-responsive {
    max-width: 100%;
    height: auto
}

/*IE下a:hover 背景闪烁*/

html {
    overflow: -moz-scrollbars-vertical;
}

/*HTML5 reset*/

header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
address,
hgroup,
figure,
figcaption,
legend {
    display: block;
    margin: 0;
    padding: 0
}

time {
    display: inline
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

legend {
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

legend small {
    font-size: 15px;
    color: #999
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    border-width: 0;
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

/*
	Name:			style_clearfix
	Example:		class="clearfix|cl"
	Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/

.cl:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cl,
.clearfix {
    zoom: 1
}

/*重置滚动条样式*/

html {
    scrollbar-face-color: #C2C2C2;
    /*滑块*/
    scrollbar-arrow-color: #FFFFFF;
    /*箭头*/
    scrollbar-3dlight-color: #FFFFFF;
    /*最外左*/
    scrollbar-highlight-color: #FFFFFF;
    /*左二*/
    scrollbar-shadow-color: #FFFFFF;
    /*右二*/
    scrollbar-darkshadow-color: #FFFFFF;
    /*最外右*/
    scrollbar-track-color: #FFFFFF;
    /*滑道*/
}

::-webkit-scrollbar-track-piece {
    background-color: #fff
}

::-webkit-scrollbar {
    width: 13px;
    height: 13px
}

::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    background-clip: padding-box;
    min-height: 28px
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a0a0a0
}

body {
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px
}

/*距上5像素*/

.mt-10 {
    margin-top: 10px
}

/*距上10像素*/

.mt-15 {
    margin-top: 15px
}

/*距上15像素*/

.mt-20 {
    margin-top: 20px
}

/*距上20像素*/

.mt-25 {
    margin-top: 25px
}

/*距上25像素*/

.mt-30 {
    margin-top: 30px
}

/*距上30像素*/

.mt-35 {
    margin-top: 35px
}

/*距上35像素*/

.mt-40 {
    margin-top: 40px
}

/*距上40像素*/

.mt-50 {
    margin-top: 50px
}

.mb-0 {
    margin-bottom: 0
}

/*距上50像素*/

.mb-5 {
    margin-bottom: 5px
}

/*距下5像素*/

.mb-10 {
    margin-bottom: 10px
}

/*距下10像素*/

.mb-15 {
    margin-bottom: 15px
}

/*距下15像素*/

.mb-20 {
    margin-bottom: 20px
}

/*距下20像素*/

.mb-25 {
    margin-bottom: 25px
}

/*距下25像素*/

.mb-30 {
    margin-bottom: 30px
}

/*距下30像素*/

.mb-35 {
    margin-bottom: 35px
}

/*距下35像素*/

.mb-40 {
    margin-bottom: 40px
}

/*距下40像素*/

.mb-50 {
    margin-bottom: 50px
}

.ml-0 {
    margin-left: 0
}

/*距下50像素*/

.ml-5 {
    margin-left: 5px
}

/*距左5像素*/

.ml-10 {
    margin-left: 10px
}

/*距左10像素*/

.ml-15 {
    margin-left: 15px
}

/*距左15像素*/

.ml-20 {
    margin-left: 20px
}

/*距左20像素*/

.ml-30 {
    margin-left: 30px
}

/*距左30像素*/

.ml-40 {
    margin-left: 40px
}

/*距左40像素*/

.ml-50 {
    margin-left: 50px
}

.ml-75 {
    margin-left: 75px
}

.mr-0 {
    margin-right: 0
}

/*距左50像素*/

.mr-5 {
    margin-right: 5px
}

/*距右5像素*/

.mr-10 {
    margin-right: 10px
}

/*距右10像素*/

.mr-15 {
    margin-right: 15px
}

/*距右15像素*/

.mr-20 {
    margin-right: 20px
}

/*距右20像素*/

.mr-30 {
    margin-right: 30px
}

/*距右30像素*/

.mr-40 {
    margin-right: 40px
}

/*距右40像素*/

.mr-50 {
    margin-right: 50px
}

/*距右50像素*/

.pt-0 {
    padding-top: 0
}

.pt-5 {
    padding-top: 5px
}

/*上填充5像素*/

.pt-10 {
    padding-top: 10px
}

/*上填充10像素*/

.pt-15 {
    padding-top: 15px
}

/*上填充15像素*/

.pt-20 {
    padding-top: 20px
}

/*上填充20像素*/

.pb-0 {
    padding-bottom: 0
}

.pb-5 {
    padding-bottom: 5px
}

/*下填充5像素*/

.pb-10 {
    padding-bottom: 10px
}

/*下填充10像素*/

.pb-15 {
    padding-bottom: 15px
}

/*下填充15像素*/

.pb-20 {
    padding-bottom: 20px
}

/*下填充20像素*/

.pl-0 {
    padding-left: 0
}

.pl-5 {
    padding-left: 5px
}

/*左填充5像素*/

.pl-10 {
    padding-left: 10px
}

/*左填充10像素*/

.pl-15 {
    padding-left: 15px
}

/*左填充15像素*/

.pl-20 {
    padding-left: 20px
}

/*左填充20像素*/

.pr-0 {
    padding-right: 0
}

.pr-5 {
    padding-right: 5px
}

/*右填充5像素*/

.pr-10 {
    padding-right: 10px
}

/*右填充10像素*/

.pr-15 {
    padding-right: 15px
}

/*右填充15像素*/

.pr-20 {
    padding-right: 20px
}

.pr-30 {
    padding-right: 30px
}

/*右填充20像素*/

.pd-0 {
    padding: 0
}

.pd-5 {
    padding: 5px
}

/*填充5像素*/

.pd-10 {
    padding: 10px
}

/*填充10像素*/

.pd-15 {
    padding: 15px
}

/*填充15像素*/

.pd-20 {
    padding: 20px
}

/*填充20像素*/

.lh-36 {
    line-height: 36px;
}

.margin-auto {
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pointer {
    cursor: pointer
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.text-c {
    text-align: center;
}

.font-header {
    color: #48576a !important;
}

.font-default {
    color: #11AB19 !important;
}

.font-blue {
    color: #20a0ff !important;
}

.font-green {
    color: #00b300 !important;
}

.font-g333 {
    color: #333333 !important;
}

.font-gray {
    color: #99a9bf !important;
}

.font-red {
    color: #ff0000 !important;
}

.font-white {
    color: #FFFFFF !important;
}

.font-orange {
    color: #ff6600 !important;
}

.border-default {
    border-color: #11AB19 !important;
}

.border-blue {
    border-color: #20a0ff !important;
}

.border-green {
    border-color: #00b300 !important;
}

.border-g333 {
    border-color: #333333 !important;
}

.border-gray {
    border-color: #99a9bf !important;
}

.border-red {
    border-color: #ff0000 !important;
}

.border-orange {
    border-color: #ff6600 !important;
}

.bg-default {
    background: #11AB19 !important;
    background-color: #11AB19 !important;
}

.bg-red {
    background: #ff0000 !important;
    background-color: #ff0000 !important;
}

.bg-green {
    background: #20a0ff !important;
    background-color: #20a0ff !important;
}

.bg-white {
    background: #FFFFFF !important;
    background-color: #FFFFFF !important;
}

.bg-blue {
    background: #01a1ff !important;
    background-color: #01a1ff !important;
}

.bg-orange {
    background: #ff6600 !important;
    background-color: #ff6600 !important;
}

.bg-tabbg {
    background: #eef1f6 !important;
    background-color: #eef1f6 !important;
}

/* 文字占位 */

.placeholder {
    color: transparent;
    text-indent: -9999px;
    visibility: hidden
}

.font-weight {
    font-weight: 700;
}

.font-size12 {
    font-size: 12px !important;
}

.font-size13 {
    font-size: 13px !important;
}

.font-size14 {
    font-size: 14px !important;
}

.font-size15 {
    font-size: 15px !important;
}

.font-size16 {
    font-size: 16px !important;
}

.font-size17 {
    font-size: 17px !important;
}

.font-size18 {
    font-size: 18px !important;
}

.font-size19 {
    font-size: 19px !important;
}

.font-size20 {
    font-size: 20px !important;
}

.font-size21 {
    font-size: 21px !important;
}

.font-size22 {
    font-size: 22px !important;
}

.font-size23 {
    font-size: 23px !important;
}

.font-size24 {
    font-size: 24px !important;
}

/*icon定位高度调整*/

.icon-t-1 {
    position: relative;
    top: -1px;
}

.icon-t-2 {
    position: relative;
    top: -2px;
}

.icon-t-3 {
    position: relative;
    top: -3px;
}

.icon-t-4 {
    position: relative;
    top: -4px;
}

.icon-t-5 {
    position: relative;
    top: -5px;
}

.icon-t1 {
    position: relative;
    top: 1px;
}

.icon-t2 {
    position: relative;
    top: 2px;
}

.icon-t3 {
    position: relative;
    top: 3px;
}

.icon-t4 {
    position: relative;
    top: 4px;
}

.icon-t5 {
    position: relative;
    top: 5px;
}

/* 单行文本超出隐藏 */

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-ellipsis .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 备注多行文本 撑高 */

.memo-wrap {
    overflow: hidden;
    margin-top: -22px;
    visibility: hidden;
}

.header-top {
    width: 100%;
    height: 80px;
    background: #172946;
    color: #FFF;
    text-align: center;
}

.header-nav {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #DADCD9;
}

.navbox {
    text-align: center;
}

li.navitem {
    display: inline-block;
    padding: 0 15px;
    line-height: 1;
    cursor: pointer;
    color: #333333;
    font-weight: 700;
    border-right: 1px solid #333333;
}

li.navitem:hover {
    color: #FF0000;
}

li.navitem:last-child {
    border-right: none;
}

.layout-footer {
    width: 100%;
    height: 100px;
    background: #48576a;
    color: #FFFFFF;
    text-align: center;
}

#owl-carousel {
    width: 1300px;
    margin: 0 auto;
}

#owl-carousel .item {
    width: 100%;
    height: 454px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}