/*1 重定义浏览器默认样式
	Name:			style_reset
	Level:			Global
	Explain:		重定义浏览器默认样式
*/

* {
    word-wrap: break-word
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
iframe,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
button,
input,
textarea,
th,
td,
fieldset {
    margin: 0;
    padding: 0
}

ul,
ol,
dl {
    list-style-type: none
}

html,
body {
    *position: static
}

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal
}

input,
button,
textarea,
select,
optgroup,
option {
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit
}

input,
button {
    overflow: visible;
    vertical-align: middle;
    outline: none
}

body,
th,
td,
button,
input,
select,
textarea {
    font-family: "Microsoft Yahei", "Hiragino Sans GB", "Helvetica Neue", Helvetica, tahoma, arial, Verdana, sans-serif, "WenQuanYi Micro Hei", "\5B8B\4F53";
    font-size: 12px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased
}

body {
    line-height: 1
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%
}

a,
area {
    outline: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a.ie6:hover {
    zoom: 1
}

a:focus {
    outline: none
}

a:hover,
a:active {
    outline: none
}

:focus {
    outline: none
}

sub,
sup {
    vertical-align: baseline
}

/*img*/

img {
    border: 0;
    vertical-align: middle
}

a img,
img {
    -ms-interpolation-mode: bicubic
}

.img-responsive {
    max-width: 100%;
    height: auto
}

/*IE下a:hover 背景闪烁*/

html {
    overflow: -moz-scrollbars-vertical;
}

/*HTML5 reset*/

header,
footer,
section,
aside,
details,
menu,
article,
section,
nav,
address,
hgroup,
figure,
figcaption,
legend {
    display: block;
    margin: 0;
    padding: 0
}

time {
    display: inline
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

legend {
    width: 100%;
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5
}

legend small {
    font-size: 15px;
    color: #999
}

svg:not(:root) {
    overflow: hidden
}

fieldset {
    border-width: 0;
    padding: 0.35em 0.625em 0.75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

/*
	Name:			style_clearfix
	Example:		class="clearfix|cl"
	Explain:		Clearfix（简写cl）避免因子元素浮动而导致的父元素高度缺失能问题
*/

.cl:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.cl,
.clearfix {
    zoom: 1
}

/*重置滚动条样式*/

html {
    /*三角箭头的颜色*/
    scrollbar-arrow-color: #C2C2C2;
    /*滚动条滑块按钮的颜色*/
    scrollbar-face-color: #C2C2C2;
    /*滚动条整体颜色*/
    scrollbar-highlight-color: #FFFFFF;
    /*滚动条阴影*/
    scrollbar-shadow-color: #C2C2C2;
    /*滚动条轨道颜色*/
    scrollbar-track-color: #FFFFFF;
}

::-webkit-scrollbar {
    /*滚动条整体部分*/
    width: 8px;
    height: 10px;
}

::-webkit-scrollbar-track {
    /*滚动条的轨道*/
    background-color: #FFFFFF;
}

::-webkit-scrollbar-thumb {
    /*滚动条的滑块按钮*/
    border-radius: 0;
    background-color: #c2c2c2;
    background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
    /*滚动条的滑块按钮hover*/
    background-color: #a0a0a0
}

::-webkit-scrollbar-button {
    /*滚动条的上下两端的按钮*/
    height: 0;
    background-color: #FFFFFF;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

.mt-0 {
    margin-top: 0;
}

.mt-5 {
    margin-top: 5px
}

/*距上5像素*/

.mt-10 {
    margin-top: 10px
}

/*距上10像素*/

.mt-15 {
    margin-top: 15px
}

/*距上15像素*/

.mt-20 {
    margin-top: 20px
}

/*距上20像素*/

.mt-25 {
    margin-top: 25px
}

/*距上25像素*/

.mt-30 {
    margin-top: 30px
}

/*距上30像素*/

.mt-35 {
    margin-top: 35px
}

/*距上35像素*/

.mt-40 {
    margin-top: 40px
}

/*距上40像素*/

.mt-50 {
    margin-top: 50px
}

.mb-0 {
    margin-bottom: 0
}

/*距上50像素*/

.mb-5 {
    margin-bottom: 5px
}

/*距下5像素*/

.mb-10 {
    margin-bottom: 10px
}

/*距下10像素*/

.mb-15 {
    margin-bottom: 15px
}

/*距下15像素*/

.mb-20 {
    margin-bottom: 20px
}

/*距下20像素*/

.mb-25 {
    margin-bottom: 25px
}

/*距下25像素*/

.mb-30 {
    margin-bottom: 30px
}

/*距下30像素*/

.mb-35 {
    margin-bottom: 35px
}

/*距下35像素*/

.mb-40 {
    margin-bottom: 40px
}

/*距下40像素*/

.mb-50 {
    margin-bottom: 50px
}

.ml-0 {
    margin-left: 0
}

/*距下50像素*/

.ml-5 {
    margin-left: 5px
}

/*距左5像素*/

.ml-10 {
    margin-left: 10px
}

/*距左10像素*/

.ml-15 {
    margin-left: 15px
}

/*距左15像素*/

.ml-20 {
    margin-left: 20px
}

/*距左20像素*/

.ml-30 {
    margin-left: 30px
}

/*距左30像素*/

.ml-40 {
    margin-left: 40px
}

/*距左40像素*/

.ml-50 {
    margin-left: 50px
}

.ml-75 {
    margin-left: 75px
}

.mr-0 {
    margin-right: 0
}

/*距左50像素*/

.mr-5 {
    margin-right: 5px
}

/*距右5像素*/

.mr-10 {
    margin-right: 10px
}

/*距右10像素*/

.mr-15 {
    margin-right: 15px
}

/*距右15像素*/

.mr-20 {
    margin-right: 20px
}

/*距右20像素*/

.mr-30 {
    margin-right: 30px
}

/*距右30像素*/

.mr-40 {
    margin-right: 40px
}

/*距右40像素*/

.mr-50 {
    margin-right: 50px
}

/*距右50像素*/

.pt-0 {
    padding-top: 0
}

.pt-5 {
    padding-top: 5px
}

/*上填充5像素*/

.pt-10 {
    padding-top: 10px
}

/*上填充10像素*/

.pt-15 {
    padding-top: 15px
}

/*上填充15像素*/

.pt-20 {
    padding-top: 20px
}

/*上填充20像素*/

.pb-0 {
    padding-bottom: 0
}

.pb-5 {
    padding-bottom: 5px
}

/*下填充5像素*/

.pb-10 {
    padding-bottom: 10px
}

/*下填充10像素*/

.pb-15 {
    padding-bottom: 15px
}

/*下填充15像素*/

.pb-20 {
    padding-bottom: 20px
}

/*下填充20像素*/

.pl-0 {
    padding-left: 0
}

.pl-5 {
    padding-left: 5px
}

/*左填充5像素*/

.pl-10 {
    padding-left: 10px
}

/*左填充10像素*/

.pl-15 {
    padding-left: 15px
}

/*左填充15像素*/

.pl-20 {
    padding-left: 20px
}

.pl-40 {
    padding-left: 40px
}

/*左填充20像素*/

.pr-0 {
    padding-right: 0
}

.pr-5 {
    padding-right: 5px
}

/*右填充5像素*/

.pr-10 {
    padding-right: 10px
}

/*右填充10像素*/

.pr-15 {
    padding-right: 15px
}

/*右填充15像素*/

.pr-20 {
    padding-right: 20px
}

.pr-30 {
    padding-right: 30px
}

/*右填充20像素*/

.pd-0 {
    padding: 0
}

.pd-5 {
    padding: 5px
}

/*填充5像素*/

.pd-10 {
    padding: 10px
}

/*填充10像素*/

.pd-15 {
    padding: 15px
}

/*填充15像素*/

.pd-20 {
    padding: 20px
}

/*填充20像素*/

.lh-36 {
    line-height: 36px;
}

.margin-auto {
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.pointer {
    cursor: pointer
}

.text-l {
    text-align: left;
}

.text-r {
    text-align: right;
}

.text-c {
    text-align: center;
}

.font-header {
    color: #48576a !important;
}

.font-default {
    color: #11AB19 !important;
}

.font-blue {
    color: #20a0ff !important;
}

.font-green {
    color: #00b300 !important;
}

.font-g333 {
    color: #333333 !important;
}

.font-gray {
    color: #99a9bf !important;
}

.font-red {
    color: #ff0000 !important;
}

.font-white {
    color: #FFFFFF !important;
}

.font-orange {
    color: #ff6600 !important;
}

.border-default {
    border-color: #11AB19 !important;
}

.border-blue {
    border-color: #20a0ff !important;
}

.border-green {
    border-color: #00b300 !important;
}

.border-g333 {
    border-color: #333333 !important;
}

.border-gray {
    border-color: #99a9bf !important;
}

.border-red {
    border-color: #ff0000 !important;
}

.border-orange {
    border-color: #ff6600 !important;
}

.bg-default {
    background: #11AB19 !important;
    background-color: #11AB19 !important;
}

.bg-red {
    background: #ff0000 !important;
    background-color: #ff0000 !important;
}

.bg-green {
    background: #20a0ff !important;
    background-color: #20a0ff !important;
}

.bg-white {
    background: #FFFFFF !important;
    background-color: #FFFFFF !important;
}

.bg-blue {
    background: #01a1ff !important;
    background-color: #01a1ff !important;
}

.bg-orange {
    background: #ff6600 !important;
    background-color: #ff6600 !important;
}

.bg-tabbg {
    background: #eef1f6 !important;
    background-color: #eef1f6 !important;
}

/* 文字占位 */

.placeholder {
    color: transparent;
    text-indent: -9999px;
    visibility: hidden
}

.font-weight {
    font-weight: 700;
}

.font-size12 {
    font-size: 12px !important;
}

.font-size13 {
    font-size: 13px !important;
}

.font-size14 {
    font-size: 14px !important;
}

.font-size15 {
    font-size: 15px !important;
}

.font-size16 {
    font-size: 16px !important;
}

.font-size17 {
    font-size: 17px !important;
}

.font-size18 {
    font-size: 18px !important;
}

.font-size19 {
    font-size: 19px !important;
}

.font-size20 {
    font-size: 20px !important;
}

.font-size21 {
    font-size: 21px !important;
}

.font-size22 {
    font-size: 22px !important;
}

.font-size23 {
    font-size: 23px !important;
}

.font-size24 {
    font-size: 24px !important;
}

/*icon定位高度调整*/

.icon-t-1 {
    position: relative;
    top: -1px;
}

.icon-t-2 {
    position: relative;
    top: -2px;
}

.icon-t-3 {
    position: relative;
    top: -3px;
}

.icon-t-4 {
    position: relative;
    top: -4px;
}

.icon-t-5 {
    position: relative;
    top: -5px;
}

.icon-t1 {
    position: relative;
    top: 1px;
}

.icon-t2 {
    position: relative;
    top: 2px;
}

.icon-t3 {
    position: relative;
    top: 3px;
}

.icon-t4 {
    position: relative;
    top: 4px;
}

.icon-t5 {
    position: relative;
    top: 5px;
}

/* 单行文本超出隐藏 */

.text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-ellipsis .cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* 备注多行文本 撑高 */

.memo-wrap {
    overflow: hidden;
    margin-top: -22px;
    visibility: hidden;
}

body {
    min-width: 1220px;
}

/* header */

.layout-header {
    width: 100%;
    min-width: 1200px;
    height: 170px;
    background: #1d2e66;
}

.header-top {
    width: 1200px;
    height: 120px;
    margin: 0 auto;
}

.header-top .header-logo {
    width: 151px;
    height: 75px;
    float: left;
    border-right: 1px solid #ffffff;
    padding-right: 20px;
    margin-right: 20px;
    margin-top: 22.5px;
}

.header-top .header-logo img {
    width: 100%;
}

.header-top .header-slogan {
    float: left;
    margin-top: 35px;
}

.header-top .header-tel {
    float: right;
    margin-top: 37px;
}

.header-nav {
    width: 100%;
    min-width: 1200px;
    height: 50px;
    background: #dbdbdb;
}

.header-nav .navbox {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    line-height: 50px;
}

.header-nav .navbox li.navitem {
    float: left;
    width: 149px;
    margin-top: 15px;
    line-height: 1.3;
    text-align: center;
    cursor: pointer;
    color: #060303;
    font-weight: 700;
    font-size: 15px;
    border-right: 1px solid #949292;
}

.header-nav .navbox li.navitem:hover {
    color: #FF0000;
}

.header-nav .navbox :last-child li.navitem {
    border-right: none;
}

.header-nav .navbox li.navitem.navselected,
.footer-nav .navbox li.navitem.navselected {
    color: #FF0000;
}

/* 轮播 */

#layui-carousel {
    width: 100%;
    min-width: 1200px;
    height: 680px;
    margin: 0 auto;
}

@media screen and (max-width: 992px) {
    #layui-carousel {
        height: 540px !important;
    }
}

@media screen and (max-width: 768px) {
    #layui-carousel {
        height: 320px !important;
    }
}

#layui-carousel .item {
    overflow: hidden;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* content */

.layout-content {
    width: 1200px;
    margin: 0 auto;
}

.title-line {
    width: 157px;
    height: 2px;
    background: #000;
}

.panel-title {
    font-size: 0;
    color: #000;
}

.panel-title span {
    font-size: 42px;
    letter-spacing: 2px;
}

.model-title {
    font-size: 0;
    color: #555555;
    padding: 50px 0 40px;
}

.model-title span {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #3f3f3f;
}

.dashed-line {
    width: 100%;
    height: 0;
    border-top: 1px dashed #d7d7d7;
}

/* footer */

.layout-footer {
    width: 100%;
    background: #1d2e66;
    color: #FFFFFF;
}

.footer-content {
    width: 1100px;
    margin: 0 auto;
}

.footer-logo {
    float: left;
    width: 50%;
    margin-top: 50px;
}

.footer-address {
    float: left;
    width: 50%;
    margin-top: 50px;
}

.address-text {
    float: right;
    text-align: right;
    padding-right: 30px;
}

.address-text p {
    padding-top: 15px;
    letter-spacing: 1px;
}

.footer-qrcode {
    float: right;
}

.footer-nav {
    width: 100%;
    min-width: 1100px;
}

.footer-nav .navbox {
    width: 1100px;
    margin: 0 auto;
    padding: 0;
    height: 80px;
    line-height: 80px;
}

.footer-nav .navbox li.navitem {
    float: left;
    width: 135px;
    margin-top: 40px;
    line-height: 1.2;
    text-align: center;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    border-right: 2px solid #FFFFFF;
}

.footer-nav .navbox li.navitem:hover {
    color: #FF0000;
}

.footer-nav .navbox a:first-child li.navitem {
    border-left: 2px solid #FFFFFF;
}

.layout-footer .footer-copy {
    background: #ffffff;
    color: #333;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

/* 分页 */

.layui-laypage .layui-laypage-curr {
    background: #ff2c28;
    border-radius: 0;
    border: none;
    color: #fff;
    padding-bottom: 2px;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background: #ff2c28;
    border-radius: 0;
}

.layui-laypage a:hover {
    color: #ff2c28;
}

.layui-laypage input:focus,
.layui-laypage select:focus {
    border-color: #ff2c28 !important;
}

.layui-laypage button {
    background: #ff2c28;
    border: none;
    color: #ffffff;
    border-radius: 0;
    padding: 0 15px;
}