.banner-panel>div {
    width: 100%;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.news-panel .news-item img {
    width: 388px;
    height: 393px;
    cursor: pointer;
}

.news-panel .news-item:hover .news-title a {
    color: #ff0000;
}

.news-panel .newsitem-text {
    text-align: center;
}

.news-panel .news-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    padding: 30px 0 10px;
}

.news-panel .news-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px 5px;
    color: #5b5b5b;
    line-height: 1.4;
}

.news-panel .news-time {
    padding-bottom: 30px;
    color: #5b5b5b;
    font-size: 13px;
    line-height: 20px;
}

#laypage {
    text-align: center;
    margin: 50px 0 80px;
}

.detail-title-box {
    margin: 30px 0 30px;
}

.detail-title-box .detail-title {
    font-size: 25px;
    color: #000;
}

.detail-title-box .detail-time {
    font-size: 13px;
    float: right;
    color: #6e6e6e;
}

.detail-content {
    color: #6e6e6e;
}

.detail-content>p {
    line-height: 24px;
}

.detail-content>img {
    width: 100%;
    margin: 30px 0;
}

.prevnext {
    padding: 50px 0 80px;
}

.prevnews {
    float: left;
    width: 570px;
    text-align: right;
    margin-right: 30px;
}

.nextnews {
    float: left;
    width: 570px;
    text-align: left;
    margin-left: 30px;
}

.prevnext-title {
    cursor: pointer;
    padding-top: 16px;
}

.prevnext-title:hover {
    color: #ff0000;
}