.banner-panel>div {
    width: 100%;
    height: 530px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.price-panel {
    padding-top: 20px;
    padding-bottom: 80px;
}

.price-title {
    font-size: 24px;
    font-weight: 700;
}

.price-title>span {
    font-weight: normal;
}

.layui-form-label {
    width: 90px;
    padding: 6px 15px;
}

.layui-input,
.layui-select,
.layui-textarea {
    height: 32px;
}

.layui-form-radio>i {
    font-size: 16px;
    padding-top: 1px;
}

.pt-9 {
    padding-top: 9px;
}

.layui-btn.calcbtn {
    width: 220px;
    margin-left: 38px;
    margin-top: 25px;
    background-color: #1d2e66;
}

.layui-btn.calcbtn:hover {
    background-color: #e60012;
}

.result-item {
    background: #FFF;
    color: #000;
    margin: 14px 0;
    padding: 8px 20px;
    text-indent: 0;
}

.resultClose {
    width: 78px;
    height: 78px;
    top: -30px;
    right: -250px;
    position: absolute;
    background-image: url(../image/close.png);
    background-repeat: no-repeat;
    cursor: pointer;
}

/* blockUi */

.blockUI.blockOverlay {
    cursor: default !important;
}

.blockUI.blockMsg.blockElement {
    top: 50% !important;
}